/* 
COLOR PALETTE
pink/purple: #F1C4F2
light blue: #79BAF2
gold: #D9A74A
off white: #F2E8DC
redish orange: #F25835
dark blue: #2A4382
*/

/* page background */
body{
    background-color:#F2E8DC ;
    font-family: 'Archivo', sans-serif;
    max-width: 650px;
    margin: auto;
}
/* header */
.header_name{
    color: #F25835;
    font-family: 'Archivo', sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
}

.last_name{
    background-color: #2A4382;
    font-weight: 400;
}

.title{
    color:#2A4382;
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;

}

.bio{
    max-width: 500px;
    margin: auto;
    color:#2A4382;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 15px;
    letter-spacing: 4px;

}
/* link styles */
a:link {
color: #D9A74A;
}
a:visited {
color: #79BAF2;
}
a:hover{
color: #F25835;
}

/* portfolio styles */
.portfolio{
    color:#2A4382;
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}

.portfolio_image{
    
}