/* 
OLD COLOR PALETTE
pink/purple: #F1C4F2
light blue: #79BAF2
gold: #D9A74A
off white: #F2E8DC
redish orange: #F25835
dark blue: #2A4382

NEW LM/DM COLOR PALETTE
off black: #1A1B1B
pink: #F20C36
yellow: #F2B705
blue: #049DD9
off white: #FFF5ED
*/

/* page background */
body{
    background-color:#1A1B1B ;
    font-family: 'Archivo', sans-serif;
}
/* header */
.header_name{
    max-width: 650px;
    margin: 0 auto;
    color: #F20C36;
    font-family: 'Archivo', sans-serif;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
}

.last_name{
    max-width: 650px;
    color: #FFF5ED;
    font-weight: 200;
}

.title{
    max-width: 650px;
    margin: 0 auto;
    color:#F20C36;
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;

}

.bio{
    max-width: 500px;
    margin: auto;
    color:#FFF5ED;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;

}

/* nav icons */
.icons{
    margin: 0 auto !important;
    display: block !important;
    text-align: center !important;
}

i{
    padding-left: 8px;
    padding-right: 8px;
    /* transition: all 0.5s ; */
    color: #F20C36;
} 

i:hover{
    transform:scale(1.10);
    color: #F20C36; 
}


/* link styles */
a:link {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}
a:visited {
color: #79BAF2;
}
a:hover{
color: #F25835;
}

.mode-button{
text-decoration: underline;
text-decoration-thickness: 4px;
}

.mode-button:hover{
    transform:scale(1.10);
}

/* portfolio styles */
.portfolio{
    color:#F20C36;
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    max-width: 650px;
    margin: 0 auto;
}

.portfolio_image{
    max-width: 500px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.work_entry img:hover {
    box-shadow: 0.1em 0.1em 1em 0.03em #FFF5ED;
    transform:scale(1.05);
}
/* https://thebrandsmen.com/css-image-hover-effects/ */
/* .fadein img{
    opacity:0.5;
    transition: 1s ease;
    }
    
.fadein img:hover{
    opacity:1;
    transition: 1s ease;
    } */

.portfolio_entry_title{
    color: #F20C36;
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center; 
}

.portfolio_entry{
    max-width: 500px;
    margin: 0 auto;
    color:#FFF5ED;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px; 
}

.footer{
  padding: 25px;
  background-color: #F20C36;
  color: #FFF5ED;
  text-align: center;
  max-width: 1920px;

}